{
    "env": {
        "jest": true,
        "es6": true,
        "browser": true,
        "node": true
    },

    "parserOptions": {
        "sourceType": "module"
    },

    "extends": ["plugin:vue/essential", "plugin:vue/strongly-recommended", "plugin:vue/recommended"]
}